<article class="post reveal <%= (post.title) ? "" : "no-title" %>">
  <%- partial('meta',{post:post, position:'header'}) %>
  <section class="article typo">
    <div class="article-entry" itemprop="articleBody">
      <% if(post.layout == 'contents' && post.format == 'mindmap'){ %>
        <pre class="mindmap" minder-data-type="markdown">
            <% if(null != post.description){ %>
<%= strip_html(post.description) %>
            <% } else if(null != post.excerpt) { %>
<%= getPostContent(post.raw, 'excerpt') %>
            <% } else if(null != post.content) { %>
<%= getPostContent(post.raw) %>
            <% } %>
        </pre>
      <% } else { %>
        <%- post.excerpt || post.description || post.content %>
      <% } %>
      <% if (post.readmore != false && (post.excerpt || post.description)) { %>
        <div class="readmore">
          <a href="<%- url_for(post.path) %>" class="flat-box">
            <i class="fas fa-book-open fa-fw" aria-hidden="true"></i>
            <%- __('post.read_more') %>
          </a>
        </div>
      <% } %>
    </div>
    <% if (post.tags && post.tags.length) { %>
      <div class="full-width auto-padding tags">
        <% post.tags.each(function(item){ %>
          <a href="<%- url_for(item.path) %>" rel="nofollow"><i class="fas fa-hashtag fa-fw"></i><%=item.name %></a>
        <%})%>
      </div>
    <% } %>
  </section>
</article>

<%
  function getPostContent(text, contentType) {
    var headerExp = new RegExp(/^---(.|[\r\n])*---[\r\n]/g);
    var more = "(&lt;!-- more --&gt;|<!-- more -->)";
    var result = text.replace(headerExp, "");
    if("excerpt" == contentType){
      var moreCut = new RegExp(more + "(.|[\\r\\n])*$");
      result = result.replace(moreCut, "");
    }else {
      var moreDel = new RegExp(more + "[\\r\\n]?");
      result = result.replace(moreDel, "");
    }
    return result;
  }
%>